<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Fernando René Morán Cruz** <br />
Desired occupation: Data Engineer

*I am really interested in Data Science because is fascinating what a data scientist can achieve with data, is mind opening to see how M.L. or D.L. models, data cleansing, deep analysis,etc are created and the numerous type of tools that are there  for us and we didn't have any idea. I hope to learn to use effectively this tools in order to became able to do my very own model too!*

### Sum of two integer numbers

In [6]:
a = int(input("Please input an integer number: "))
b = int(input("Plese input another integer number: "))
Sum = a+b
print("The result is")
print(Sum)

Please input an integer number:  2
Plese input another integer number:  2

The result is
4

>Using `Markdown` or `HTML`, this cell must include at least 3 of the following: 

- ~~horizontal rule~~
-------------------------

- bulleted list

- numbered list
1. One
2. Two
3. Three
- tables
|Name         | Last name   |
| :---------: | :---------: |
| Fernando    |   Morán     |
---
hyperlinks: <br/>
 https://www.google.com/